# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/src/drive/build-mytoolchain/
/src/drive/build-sys-linux-x86_64/
/src/drive/build-sys-linux-i686/
.qi
