# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/src/*/build-mytoolchain/
/src/*/build-sys-linux-x86_64/
/src/*/build-sys-linux-i686/
/src/Drive/libPose
.qi

# Latex
Thumbs.db
*.synctex.gz
*.aux
*.dvi
*.log
*.toc
